html {
  height: 100%;
  width: 100%;
}

body {
  text-align: center;
  background-color: #564e20;

}

h1 {
  color: red;
  border: 10px solid red;
  padding: 10px;
  margin: 10px;
}

h2 {
  color: blue;
  border: 10px solid blue;
  padding: 10px;
  margin: 10px;
}

p {
  color: greenyellow; 
  border: 10px solid #527023;
  padding: 10px;
  margin: 10px;
  
}
img {
  border: 10px dashed #ff0000;
  padding: 10px;
  margin: 10px;
}